body {        
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Bebas Neue", sans-serif;
  color:  #B7B7B7;
  }

#container {
  background-color: #f3f3f3;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

 .logo-image{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    margin-top: .18em;
    margin-bottom: .20em;
}


.fixed-header {
  width: 100%;
  height: auto;
  position: fixed;        
  background: #fff;
  padding: 10px 0;
  top: 0;
  text-align: center;
  z-index: 99;
  overflow: hidden;
}

.container1{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  letter-spacing: 4px;
   /* Center the DIV horizontally */
}

.container1 nav a {
  color:  #f1bb99;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.container1 nav a.selected {
  color: #580c3b;
}

.container1 nav a.selected:hover {
  color: #580c3b;
}

.container1 nav a:hover {
  color: #580c3b;
}


.container1 p{
  line-height: 200px; /* Create scrollbar to test positioning */
}

.ft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  grid-column-gap: 1rem;
}


.foodtext h1 {
  margin-top: 0px;
  color: #580c3b;
  padding-top: 0rem;
  font-size: 2em;
  letter-spacing: 4px;
  text-align: left;
}

.foodtext p {
  color: #666666;
}

.ft nav h1 {
  color:  #E8D29B;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.ft nav h1.selected {
  color: #f1bb99;
}

.ft nav h1.selected  {
  color: #f1bb99;
}

.ft nav h1:hover {
  color: #f1bb99;
}

IMG.foot {
  display: inline-block;
  margin-left: 0;
  margin-right: auto
}

.foodtext img {
  opacity: .90;
}

.footer {
  text-align: center;
  padding: 2rem;
  color = #b7b7b7;
}

@media screen and (max-width: 480px) {
  .fixed-header {
    font-size: .1em;
  }
  .foodtext h1 {
    font-size: 1em;
  }
  .foodtext p {
    font-size: .75em;
  }
}







